body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

#page-header {
  background-color: firebrick;
}

#page-header a {
  color: beige;
  text-decoration: none;
}

#page-header a:hover {
  color: #222222;
}

#left-header {
  display: flex;
}

#left-header nav {
  padding-top: 25px;
  padding-left: 10px;
  margin-left: 10px;
  border-left: 2px solid beige;
}

#left-header nav a {
  margin: 0 5px;
  border-bottom: 1px dashed #222222;
}

#left-header img {
  max-height: 150px;
}

#left-header h1 {
  margin-left: 20px;
}

#right-header {
  float: right;
}

.quiz-links {
  text-decoration: none;
  color: initial;
}

.quiz-articles {
  padding: 15px;
  border: 2px solid firebrick;
  margin: 10px 0;
}

main {
  max-width: 500px;
  margin: auto;
}

.result {
  font-weight: bold;
}

.success {
  color: green;
}

.failure,
.error {
  color: red;
}

footer {
  display: flex;
  flex-direction: column;
  max-width: max-content;
  margin: auto;
  text-align: center;
}

#createLoginForm {
  text-align: center;
}

#createLoginForm input {
  margin: 10px;
}

.rate {
  font-weight: bold;
  text-align: center;
  color: deeppink;
}
